{% form_theme catForm 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
    <h1>Ajout d'une categorie</h1>

    {{ form_start(catForm) }}
        {{ form_row(catForm.catName) }}

        <button class="btn btn-success">Enregistrer</button>
    {{ form_end(catForm) }}
{% endblock %}
