<div class="headerBar">
	<div class="row">
		<div class="col-sm-4 logo">
			{{ app.user.username }}
		</div>
		<div class="col-sm-8 text-right">
			<div>
				{% include 'includes/btn/btnProfile.html.twig' %}
				{% include 'includes/btn/btnNewPiece.html.twig' %}
			</div>
			<div>
				{% include 'includes/btn/btnUnCo.html.twig' %}
			</div>
		</div>
	</div>
</div>

