<div class="headerBar">
	<div class="row">
		<div class="col-sm-4 logo">
		</div>
		<div class="col-sm-8 text-right">
			<div>
				{% include 'includes/btn/btnCo.html.twig' %}
			</div>
			<div>
				{% include 'includes/btn/btnRegister.html.twig' %}
			</div>
		</div>
	</div>
</div>

