<nav>
    {% if (app.user) %}
        Bonjour {{ app.user.username }}
        <a href="{{ path('logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">S'enregistrer</a>
    {% endif %}
</nav>